<div class="row">
  <div class="col-md-6 offset-3">
    <div class="card">
      <div class="card-body">
        <h1>Sign Up</h1>
        <hr />
        <%= form_with model: @user, url: registrationpost_path do |form| %>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <%= form.email_field :email, class:"form-control",
          placeholder:"email@email.com" %>
        </div>

        <div class="mb-3">
          <label class="form-label">Name</label>
          <%= form.text_field :name, class:"form-control", placeholder:"stepen"
          %>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <%= form.password_field :password,
          class:"form-control",placeholder:"password" %>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <%= form.password_field :password_confirmation,
          class:"form-control",placeholder:"password" %>
        </div>
        <div class="mb-3 text-end">
          <%= form.submit "Sign Up", class:"btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
